<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 <suite name="TestNG framework" parallel="tests">
  <test name="FirefoxTest">
    <classes>
       <class name="Analyzer.MyTransformer"/>
       <class name="test.testretry" />
    </classes>
 </test>
</suite>
